<%- include('header'); %>
<div class="container-fluid d-flex flex-column flex-lg-row justify-content-center" id="main-container"
     xmlns="http://www.w3.org/1999/html">
    <!-- Navigation Bar -->
    <div id="container-navigation-bar" class="col-3">
        <div class="nav flex-row flex-lg-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link d-flex" id="v-pills-salades-tab" data-toggle="pill" href="#v-pills-salades" role="tab" aria-controls="v-pills-home" aria-selected="true">
                <img src="img/salades.png" height="35px" width="35px" alt="salades">
                <p class="color-text">Nos salades</p>
            </a>
            <a class="nav-link d-flex" id="v-pills-boissons-tab" data-toggle="pill" href="#v-pills-boissons" role="tab" aria-controls="v-pills-profile" aria-selected="false">
                <img src="img/boissons.png" height="35px" width="35px" alt="boissons">
                <p class="color-text">Nos boissons</p>
            </a>
            <a class="nav-link d-flex" id="v-pills-desserts-tab" data-toggle="pill" href="#v-pills-desserts" role="tab" aria-controls="v-pills-messages" aria-selected="false">
                <img src="img/desserts.png" height="35px" width="35px" alt="desserts">
                <p class="color-text">Nos desserts</p>
            </a>
            <a class="nav-link d-flex" id="v-pills-menus-tab" data-toggle="pill" href="#v-pills-menus" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                <img src="img/menus.png" height="35px" width="35px" alt="menus">
                <p class="color-text">Nos menus</p>
            </a>
            <a class="nav-link d-flex active" id="v-pills-pizzas-tab" data-toggle="pill" href="#v-pills-pizzas" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                <img src="img/pizzas.png" height="35px" width="35px" alt="pizzas">
                <p class="color-text">Nos pizzas</p>
            </a>
            <a class="nav-link d-flex" id="v-pills-pizza-custom-tab" data-toggle="pill" href="#v-pills-pizza-custom" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                <img src="img/recommandations.png" height="35px" width="35px" alt="pizza-custom">
                <p class="color-text">Pizza Custom</p>
            </a>
        </div>
    </div>
    <!-- List Of Items -->
    <div id="container-items" class="col-6">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade" id="v-pills-salades" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                <h1>Nos salades</h1>
                <div class="row" id="all-salades">
                    <% if (locals.params.list!==undefined) { locals.params.list.forEach(article =>{ if(article.type_plat==="salade"){%>
                        <div class="m-auto container-item-desc" type="button" data-toggle="modal" data-target="#modal-info-item">
                            <img class="item-description" src="img/salades_pics/<%- article.link_picture %>" alt="salade">
                            <p class="name-salade"><%- article.nom %></p>
                            <p class="price-salade"><%- article.prix %> &#8364;</p>
                            <form method="post" action="more-ifo-item">
                                <input type="hidden" name="idArticle" value="<%- article.id_plat %>">
                            </form>
                        </div>
                    <% }})} %>
                </div>
            </div>
            <div class="tab-pane fade" id="v-pills-boissons" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                <h1>Nos boissons</h1>
                <div class="row" id="all-boissons">
                    <% if (locals.params.list!==undefined) { locals.params.list.forEach(article =>{ if(article.type_plat==="boisson"){%>
                        <div class="m-auto container-item-desc" type="button" data-toggle="modal" data-target="#modal-info-item">
                            <img class="item-description" src="img/boissons_pics/<%- article.link_picture %>" alt="boisson">
                            <p class="name-boisson"><%- article.nom %></p>
                            <p class="price-boisson"><%- article.prix %> &#8364;</p>
                            <form method="post" action="more-ifo-item">
                                <input type="hidden" name="idArticle" value="<%- article.id_plat %>">
                            </form>
                        </div>
                    <% }})} %>
                </div>
            </div>
            <div class="tab-pane fade" id="v-pills-desserts" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                <h1>Nos desserts</h1>
                <div class="row" id="all-desserts">
                    <% if (locals.params.list!==undefined) { locals.params.list.forEach(article =>{ if(article.type_plat==="dessert"){%>
                        <div class="m-auto container-item-desc" type="button" data-toggle="modal" data-target="#modal-info-item">
                            <img class="item-description" src="img/desserts_pics/<%- article.link_picture %>" alt="dessert">
                            <p class="name-dessert"><%- article.nom %></p>
                            <p class="price-dessert"><%- article.prix %> &#8364;</p>
                            <form method="post" action="more-ifo-item">
                                <input type="hidden" name="idArticle" value="<%- article.id_plat %>">
                            </form>
                        </div>
                    <% }})} %>
                </div>
            </div>
            <div class="tab-pane fade" id="v-pills-menus" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                <h1>Nos menus</h1>
                <div class="row">
                    <div id="container-menu">
                        <nav>
                            <div class="nav nav-tabs menu-menu" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-extra-tab" data-toggle="tab" href="#nav-extra" role="tab" aria-controls="nav-extra" aria-selected="true">Extra Menu</a>
                                <a class="nav-item nav-link" id="nav-mega-tab" data-toggle="tab" href="#nav-mega" role="tab" aria-controls="nav-mega" aria-selected="false">Mega Menu </a>
                                <a class="nav-item nav-link" id="nav-giga-tab" data-toggle="tab" href="#nav-giga" role="tab" aria-controls="nav-giga" aria-selected="false">Giga Menu</a>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-extra" role="tabpanel" aria-labelledby="nav-extra-tab">
                                <!--Extra Menu (1 entrée, 1 pizza Médium, 2 boissons d’au plus 33cl)-->
                                <form action="add-extra-menu-cart-item" method="post">
                                    <label for="entreeExtraMenu">Choisissez une entrée</label><br>
                                    <select id="entreeExtraMenu" name="entreeExtraMenu" class="custom-select">
                                        <% locals.params.entreeMenu.forEach(el=>{ %>
                                        <option value="<%- el.id_plat %>"><%- el.nom %></option>
                                        <% }) %>
                                    </select>

                                    <label for="pizzaExtraMenu">Choisissez une pizza medium</label><br>
                                    <select id="pizzaExtraMenu" name="pizzaExtraMenu" class="custom-select">
                                        <% locals.params.pizzasMenu.forEach(el=>{ %>
                                            <option value="<%- el.id_plat %>"><%- el.nom %></option>
                                        <% }) %>
                                    </select>

                                    <label for="boissonExtraMenu">Choisissez une boisson</label><br>
                                    <select id="boissonExtraMenu" name="boissonExtraMenu" class="custom-select">
                                        <% locals.params.boissonMinMenu.forEach(el=>{ %>
                                            <option value="<%- el.id_plat %>"><%- el.nom %></option>
                                        <% }) %>
                                    </select>

                                    <label for="boissonExtraMenuB">Choisissez une boisson</label><br>
                                    <select id="boissonExtraMenuB" name="boissonExtraMenuB" class="custom-select">
                                        <% locals.params.boissonMinMenu.forEach(el=>{ %>
                                            <option value="<%- el.id_plat %>"><%- el.nom %></option>
                                        <% }) %>
                                    </select>

                                    <button id="form-extra-menu" type="submit" class="btn btn-primary">Ajouter au panier</button>

                                </form>
                            </div>
                            <div class="tab-pane fade" id="nav-mega" role="tabpanel" aria-labelledby="nav-mega-tab">
                                <!--Mega Menu (2 entrées, 2 pizzas Médium, 1 boisson d’au moins 1l)-->
                                <form action="add-mega-menu-cart-item" method="post">
                                    <label for="entreeMegaMenu">Choisissez une entrée</label>
                                    <select id="entreeMegaMenu" name="entreeMegaMenu" class="custom-select">
                                        <% locals.params.entreeMenu.forEach(el=>{ %>
                                            <option value="<%- el.id_plat %>"><%- el.nom %></option>
                                        <% }) %>
                                    </select>

                                    <label for="entreeMegaMenuB">Choisissez une entrée</label>
                                    <select id="entreeMegaMenuB" name="entreeMegaMenuB" class="custom-select">
                                        <% locals.params.entreeMenu.forEach(el=>{ %>
                                            <option value="<%- el.id_plat %>"><%- el.nom %></option>
                                        <% }) %>
                                    </select>

                                    <label for="pizzaMegaMenu">Choisissez une pizza medium</label>
                                    <select id="pizzaMegaMenu" name="pizzaMegaMenu" class="custom-select">
                                        <% locals.params.pizzasMenu.forEach(el=>{ %>
                                            <option value="<%- el.id_plat %>"><%- el.nom %></option>
                                        <% }) %>
                                    </select>

                                    <label for="pizzaMegaMenuB">Choisissez une pizza medium</label>
                                    <select id="pizzaMegaMenuB" name="pizzaMegaMenuB" class="custom-select">
                                        <% locals.params.pizzasMenu.forEach(el=>{ %>
                                            <option value="<%- el.id_plat %>"><%- el.nom %></option>
                                        <% }) %>
                                    </select>

                                    <label for="boissonMegaMenu">Choisissez une boisson</label>
                                    <select id="boissonMegaMenu" name="boissonMegaMenu" class="custom-select">
                                        <% locals.params.boissonMaxMenu.forEach(el=>{ %>
                                            <option value="<%- el.id_plat %>"><%- el.nom %></option>
                                        <% }) %>
                                    </select>

                                    <button id="form-mega-menu" type="submit" class="btn btn-primary">Ajouter au panier</button>

                                </form>
                            </div>
                            <div class="tab-pane fade" id="nav-giga" role="tabpanel" aria-labelledby="nav-giga-tab">
                                <!--Giga Menu (2 entrées, 2 pizzas Médium, 2 boisson d’au moins 1l)-->
                                <form action="add-giga-menu-cart-item" method="post">
                                    <label for="entreeGigaMenu">Choisissez une entrée</label>
                                    <select id="entreeGigaMenu" name="entreeGigaMenu" class="custom-select">
                                        <% locals.params.entreeMenu.forEach(el=>{ %>
                                            <option value="<%- el.id_plat %>"><%- el.nom %></option>
                                        <% }) %>
                                    </select>

                                    <label for="entreeGigaMenuB">Choisissez une entrée</label>
                                    <select id="entreeGigaMenuB" name="entreeGigaMenuB" class="custom-select">
                                        <% locals.params.entreeMenu.forEach(el=>{ %>
                                            <option value="<%- el.id_plat %>"><%- el.nom %></option>
                                        <% }) %>
                                    </select>

                                    <label for="pizzaGigaMenu">Choisissez une pizza medium</label>
                                    <select id="pizzaGigaMenu" name="pizzaGigaMenu" class="custom-select">
                                        <% locals.params.pizzasMenu.forEach(el=>{ %>
                                            <option value="<%- el.id_plat %>"><%- el.nom %></option>
                                        <% }) %>
                                    </select>

                                    <label for="pizzaGigaMenuB">Choisissez une pizza medium</label>
                                    <select id="pizzaGigaMenuB" name="pizzaGigaMenuB" class="custom-select">
                                        <% locals.params.pizzasMenu.forEach(el=>{ %>
                                            <option value="<%- el.id_plat %>"><%- el.nom %></option>
                                        <% }) %>
                                    </select>

                                    <label for="boissonGigaMenu">Choisissez une boisson</label>
                                    <select id="boissonGigaMenu" name="boissonGigaMenu" class="custom-select">
                                        <% locals.params.boissonMaxMenu.forEach(el=>{ %>
                                            <option value="<%- el.id_plat %>"><%- el.nom %></option>
                                        <% }) %>
                                    </select>

                                    <label for="boissonGigaMenuB">Choisissez une boisson</label>
                                    <select id="boissonGigaMenuB" name="boissonGigaMenuB" class="custom-select">
                                        <% locals.params.boissonMaxMenu.forEach(el=>{ %>
                                            <option value="<%- el.id_plat %>"><%- el.nom %></option>
                                        <% }) %>
                                    </select>

                                    <button id="form-giga-menu" type="submit" class="btn btn-primary">Ajouter au panier</button>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade show active" id="v-pills-pizzas" role="tabpanel" aria-labelledby="v-pills-home-tab">
                <h1>Nos pizzas</h1>
                <div class="row" id="all-pizzas">
                    <% if (locals.params.list!==undefined) { locals.params.list.forEach(article =>{ if(article.type_plat==="pizza" && article.id_plat!==25){%>
                        <div class="m-auto container-item-desc" type="button" data-toggle="modal" data-target="#modal-info-item">
                            <img class="item-description" src="img/pizzas_pics/<%- article.link_picture%>" alt="pizza">
                            <p class="name-pizza"><%- article.nom %></p>
                            <p class="price-pizza"><%- article.prix %> &#8364;</p>
                            <form method="post" action="more-ifo-item">
                                <input type="hidden" name="idArticle" value="<%- article.id_plat %>">
                            </form>
                        </div>
                    <% }})} %>
                </div>
            </div>
            <div class="tab-pane fade" id="v-pills-pizza-custom" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                <h1>Pizza custom</h1>
                <div class="row">
                    <form id="frm-custom" action="add-pizza-custom-cart-item" method="post">
                        <label for="sizePizzaCustom">Choisissez une taille</label>
                        <select id="sizePizzaCustom" name="sizePizzaCustom" class="custom-select">
                            <option priceing="10" value="small">small</option>
                            <option priceing="12" value="medium">medium</option>
                            <option priceing="15" value="large">large</option>
                        </select>

                        <label for="ingredientPizzaCustom1">Ajouter un premier ingrédient (inclus)</label>
                        <select id="ingredientPizzaCustom1" name="ingredientPizzaCustom1" class="custom-select">
                            <option priceing="0" value="none" selected>Aucun</option>
                            <% locals.params.listIngredients.forEach(ing=>{ %>
                                <option iding="<%-ing.id_ingred%>" priceing="<%-0%>" value="<%-ing.id_ingred%>"><%-ing.nom%></option>
                            <% }) %>
                        </select>

                        <label for="ingredientPizzaCustom2">Ajouter un second ingrédient (inclus)</label>
                        <select id="ingredientPizzaCustom2" name="ingredientPizzaCustom2" class="custom-select">
                            <option priceing="0" value="none" selected>Aucun</option>
                            <% locals.params.listIngredients.forEach(ing=>{ %>
                            <option iding="<%-ing.id_ingred%>" priceing="<%-0%>" value="<%-ing.id_ingred%>"><%-ing.nom%></option>
                            <% }) %>
                        </select>

                        <label for="ingredientPizzaCustom3">Ajouter un troisième ingrédient (inclus)</label>
                        <select id="ingredientPizzaCustom3" name="ingredientPizzaCustom3" class="custom-select">
                            <option priceing="0" value="none" selected>Aucun</option>
                            <% locals.params.listIngredients.forEach(ing=>{ %>
                            <option iding="<%-ing.id_ingred%>" priceing="<%-0%>" value="<%-ing.id_ingred%>"><%-ing.nom%></option>
                            <% }) %>
                        </select>

                        <label for="ingredientPizzaCustom4">Ajouter un quatrième ingrédient</label>
                        <select id="ingredientPizzaCustom4" name="ingredientPizzaCustom4" class="custom-select">
                            <option priceing="0" value="none" selected>Aucun</option>
                            <% locals.params.listIngredients.forEach(ing=>{ %>
                            <option iding="<%-ing.id_ingred%>" priceing="<%-ing.prix%>" value="<%-ing.id_ingred%>"><%-ing.nom + " +"+ing.prix%> &#8364;</option>
                            <% }) %>
                        </select>

                        <label for="ingredientPizzaCustom5">Ajouter un cinquième ingrédient</label>
                        <select id="ingredientPizzaCustom5" name="ingredientPizzaCustom5" class="custom-select">
                            <option priceing="0" value="none" selected>Aucun</option>
                            <% locals.params.listIngredients.forEach(ing=>{ %>
                            <option iding="<%-ing.id_ingred%>" priceing="<%-ing.prix%>" value="<%-ing.id_ingred%>"><%-ing.nom + " +"+ing.prix%> &#8364;</option>
                            <% }) %>
                        </select>

                        <label for="ingredientPizzaCustom6">Ajouter un sixième ingrédient</label>
                        <select id="ingredientPizzaCustom6" name="ingredientPizzaCustom6" class="custom-select">
                            <option priceing="0" value="none" selected>Aucun</option>
                            <% locals.params.listIngredients.forEach(ing=>{ %>
                            <option iding="<%-ing.id_ingred%>" priceing="<%-ing.prix%>" value="<%-ing.id_ingred%>"><%-ing.nom + " +"+ing.prix%> &#8364;</option>
                            <% }) %>
                        </select>
                        <input id="total-custom-hidden" type="hidden" name="pricePizza" value="10">
                        <p id="total-pizza-custom">total: <span>10</span> &#8364;</p>
                        <button id="form-pizza-custom" type="submit" class="btn btn-primary">Valider mes choix</button>

                    </form>
                    <!--TODO: pizza-custom puis recommandations ?-->
                </div>
            </div>
        </div>
    </div>
    <!-- Cart -->
    <div id="container-cart" class="col-3">
        <div class="card-cmd secondary">
            <div id="header-cart">
                <div class="info">
                    <p>Votre panier</p>
                </div>
                <div class="price">
                    <p>Total (TTC)</p>
                    <p id="total-price-cart-item"><%- (locals.params.price===undefined)?"0":locals.params.price.toFixed(2); %> &#8364;</p>
                </div>
                <form id="create-new-commande" action="create-new-commande" method="post">
                    <% if (!locals.params.isLogued){ %>
                        <label for="nomCommande">Nom</label>
                        <input type="text" minlength="2" name="nomCommande">

                        <label for="prenomCommande">Prenom</label>
                        <input type="text" minlength="2" name="prenomCommande">

                        <label for="adresseCommande">Adresse</label>
                        <input type="text" minlength="5" name="adresseCommande">

                        <label for="otherInfoCommande">Autre informations</label>
                        <textarea name="otherInfoCommande"></textarea>

                        <label for="portableCommande">Portable</label>
                        <input type="tel" minlength="5"  name="portableCommande">
                    <% } %>

                    <label for="dateTimeCommande">Date de livraison:</label>
                    <input type="datetime-local" id="dateTimeCommande-time" name="dateTimeCommande"
                    <%let dateMin =new Date(new Date().getTime() + 60*60*1000);
                    let dateMinCl = dateMin.toJSON().slice(0,10).replace('/','-')+'T'+("00"+dateMin.getHours()).slice(-2)+":"+("00"+dateMin.getMinutes()).slice(-2)%>
                    value="<%-dateMinCl%>"
                    min="<%-dateMinCl%>"
                    max="<%-new Date(new Date().getTime() + 60*60*24*1000).toJSON().slice(0,10).replace('/','-');%>T00:00">
                    <input type="submit" class="btn btn-primary" value="Valider mon panier">
                </form>
            </div>
            <div id="header-border"></div>
            <div id="list-cart-item">
                <% if (locals.params.quantity!==undefined && locals.params.list!==undefined) { locals.params.list.forEach(article =>{ if(locals.params.quantity[article.id_plat]!==undefined){%>
                    <div id="<%- article.id_plat %>" class="element">
                        <p><%- article.nom %> - <%- Object.keys(locals.params.quantity[article.id_plat+""]) %></p>
                        <p><%- article.descript %></p>
                        <div class="element-menu">
                            <div class="menu-quantity">
                                <form method="post" action="remove-cart-item">
                                    <input type="hidden" name="choiceSize" value="<%- Object.keys(locals.params.quantity[article.id_plat+""]) %>">
                                    <input type="hidden" name="idArticle" value="<%- article.id_plat %>">
                                    <input type="image" class="remove-img" src="img/remove_circle_outline.svg" alt="Submit">
                                </form>
                                <p class="quantity-item"><%- (locals.params.quantity[article.id_plat+""]!==undefined)?locals.params.quantity[article.id_plat+""][Object.keys(locals.params.quantity[article.id_plat+""])]:"0"; %></p>
                                <form method="post" action="add-cart-item">
                                    <input type="hidden" name="choiceSize" value="<%- Object.keys(locals.params.quantity[article.id_plat+""]) %>">
                                    <input type="hidden" name="idArticle" value="<%- article.id_plat %>">
                                    <input type="image" class="add-img" src="img/add_circle_outline.svg" alt="Submit">
                                </form>
                            </div>
                            <p class="price-item"><%- article.prix %> &#8364;</p>
                        </div>
                    </div>
                <% }})} %>

                <% if (locals.params.menu!==undefined) { let menuItem=locals.params.menu; for (let i=0; i< menuItem.length; i++){  if (menuItem[i]!==null){%>
                    <div id="<%- i %>" class="element">
                        <p><%- menuItem[i].type %></p><!-- ajouter dans la session -->
                        <p>
                            <% for (let y=0; y<menuItem[i].name.length; y++){ %>
                            <%-(y<menuItem[i].name.length-1)?menuItem[i].name[y]+" . ":menuItem[i].name[y]%>
                            <% } %>
                        </p>
                        <div class="element-menu">
                            <div class="menu-quantity">
                                <form method="post" action="remove-menu-cart-item">
                                    <input type="hidden" name="choiceSize" value="<%- menuItem[i].type %>">
                                    <input type="hidden" name="idMenu" value="<%- i %>">
                                    <input type="image" class="remove-menu-img" src="img/remove_circle_outline.svg" alt="Submit">
                                </form>
                                <p class="quantity-item"><%- menuItem[i].quantity %></p>
                                <form method="post" action="add-menu-cart-item">
                                    <input type="hidden" name="choiceSize" value="<%- menuItem[i].type %>">
                                    <input type="hidden" name="idMenu" value="<%- i %>">
                                    <input type="image" class="add-menu-img" src="img/add_circle_outline.svg" alt="Submit">
                                </form>
                            </div>
                            <p class="price-item"><%- menuItem[i].price %> &#8364;</p><!-- ajouter dans la session -->
                        </div>
                    </div>
                <% }}} %>

                <% if (locals.params.custom!==undefined) { let menuItem=locals.params.custom; for (let i=0; i< menuItem.length; i++){  if (menuItem[i]!==null){%>
                    <div id="<%- i %>" class="element">
                        <p>Pizza personnalisée - <%- menuItem[i].size %></p><!-- ajouter dans la session -->
                        <p>
                            <% for (let y=0; y<menuItem[i].ingredientsInfo.length; y++){
                                let cpt = 0;
                                for (var j = 0; j < menuItem[i].ingredients.length; j++) {
                                    if (menuItem[i].ingredientsInfo[y].id_ingred===menuItem[i].ingredients[j])cpt++;
                                }
                            %>
                            <%- cpt + " x " + menuItem[i].ingredientsInfo[y].nom %>
                            <%-(y<(menuItem[i].ingredientsInfo.length-1))?" . ":""%>
                            <% } %>
                        </p>
                        <div class="element-menu">
                            <div class="custom-quantity">
                                <form method="post" action="remove-custom-cart-item">
                                    <input type="hidden" name="idCustom" value="<%- i %>">
                                    <input type="image" class="remove-custom-img" src="img/remove_circle_outline.svg" alt="Submit">
                                </form>
                                <p class="quantity-item"><%- menuItem[i].quantity %></p>
                                <form method="post" action="add-custom-cart-item">
                                    <input type="hidden" name="idCustom" value="<%- i %>">
                                    <input type="image" class="add-custom-img" src="img/add_circle_outline.svg" alt="Submit">
                                </form>
                            </div>
                            <p class="price-item"><%- menuItem[i].price %> &#8364;</p><!-- ajouter dans la session -->
                        </div>
                    </div>
                <% }}} %>
            </div>
        </div>
    </div>
</div>
<!--TODO: change the location of the modal-->
<div class="modal fade" id="modal-info-item" tabindex="-1" role="dialog" aria-labelledby="modal-info-item-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content secondary">
            <div class="modal-header">
                <h5 class="modal-title text-center m-auto" id="modal-info-item-title">Modal title</h5>
            </div>
            <div id="modal-body-item">
            </div>
            <div class="modal-footer" id="menu-custom-add-pizza">
                <form class="form-add-dart-item" method="post" action="add-new-cart-item">
                    <label for="choiceSize">Choisir une taille:</label>
                    <select name="choiceSize" id="choiceSize" class="custom-select">

                    </select>
                    <input type="hidden" class="input-hide-add-cart" name="idArticle" value="">
                    <button type="submit" class="btn btn-primary add-cart-item">Ajouter au panier</button>
                </form>
                <form id="form-custom-cart-item" method="post" action="ingredient-to-pizza">
                    <button id="custom-cart-item-ok" type="submit" class="btn btn-primary custom-cart-item">Personaliser l'article</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="js/main.js"></script>
<script type="text/javascript" src="js/ajaxRequest.js"></script>
<%- include('footer'); %>